*
/resources/public/main.js


!/project.clj
!/.gitattributes
!/.gitignore
!/.README.md


!/resources/
!/resources/*
!/resources/*/*
!/resources/*/*/*
!/resources/*/*/*/*
!/resources/*/*/*/*/*
!/resources/*/*/*/*/*/*
!/resources/*/*/*/*/*/*/*
/resources/public/main.js


!/src/
!/src/*
!/src/*/*
!/src/*/*/*
!/src/*/*/*/*
!/src/*/*/*/*/*
!/src/*/*/*/*/*/*
!/src/*/*/*/*/*/*/*
!/src/*/*/*/*/*/*/*/*

!/srcbase/
!/srcbase/*
!/srcbase/*/*
!/srcbase/*/*/*
!/srcbase/*/*/*/*

!/srcdev/
!/srcdev/*
!/srcdev/*/*
!/srcdev/*/*/*
!/srcdev/*/*/*/*

!/srctest/
!/srctest/*
!/srctest/*/*
!/srctest/*/*/*
!/srctest/*/*/*/*


!/test/
!/test/*
!/test/*/*
!/test/*/*/*
!/test/*/*/*/*
!/test/*/*/*/*/*
!/test/*/*/*/*/*/*
!/test/*/*/*/*/*/*/*
!/test/*/*/*/*/*/*/*/*
!/test/*/*/*/*/*/*/*/*/*
!/test/*/*/*/*/*/*/*/*/*/*
!/test/*/*/*/*/*/*/*/*/*/*/*

/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
