*
!/.gitattributes
!/.gitignore


!/*.js
!/LICENSE
!/LICENSE
!/README.md
!/Dockerfile
!/DockerfileNewApp
!/.README.md
!/comments.txt

!/.babelrc
!/package.json
!/deploy_mac_app_store
!/forge.config.js
!/package.json
!/package-lock.json

!/*.icns
!/*.png
!/*.sh
!/*.bat
!/*.ps1
!/start32.bat
!/webpack.config.js
!/*.yml
!/*.node
!/*.rename
!/*.cfg
/hosts
/z.js


/node_modules/sqlite/sql.js
!/node_modules/
!/node_modules/sqlite/
!/node_modules/sqlite/*

!/go/
!/go/*
!/go/*/*
!/go/*/*/*.go
go/pkg


!/homebrew/
!/homebrew/*


!/docs/
!/docs/*
!/docs/*/*
!/docs/*/*/*
/docs/*/*.html

!/cli/
!/cli/*.js
!/cli/*.json


!/src/
!/src/*
!/src/*/*
!/src/*/*/*
!/src/*/*/*/*


!/snap/
!/snap/*
!/snap/snapcraft.yaml


!/.vscode/
!/.vscode/*
!/.vscode/*/*
!/.vscode/*/*/*
!/.vscode/*/*/*/*

!/.vscode/
!/.vscode/*
!/.vscode/*/*
!/.vscode/*/*/*
!/.vscode/*/*/*/*

!/src/
!/src/electron.js

/visifile/instantclient32/
/visifile/instantclient32/*
/visifile/instantclient32/*/*
/visifile/instantclient32/*/*/*
/visifile/instantclient32/*/*/*/*
/visifile/instantclient32/*/*/*/*/*
/visifile/instantclient32/*/*/*/*/*/*
/visifile/instantclient32/*/*/*/*/*/*/*



/visifile/node_modules/
/visifile/node_modules/*
/visifile/node_modules/*/*
/visifile/node_modules/*/*/*
/visifile/node_modules/*/*/*/*
/visifile/node_modules/*/*/*/*/*
/visifile/node_modules/*/*/*/*/*/*
/visifile/node_modules/*/*/*/*/*/*/*




!/node_pi/
!/node_pi/*



!/node_macos64/
!/node_macos64/*

!/node_win32/
!/node_win32/*

!/node_win64/
!/node_win64/*

!/node_modules_win32/
!/node_modules_win32/*
!/node_modules_win32/*/*
!/node_modules_win32/*/*/*
!/node_modules_win32/*/*/*/*
!/node_modules_win32/*/*/*/*/*
!/node_modules_win32/*/*/*/*/*/*
!/node_modules_win32/*/*/*/*/*/*/*



/public/gosharedata
/public/visifile


!/public/
!/public/*
!/public/*/*
!/public/*/*/*
!/public/*/*/*/*
!/public/*/*/*/*/*
!/public/*/*/*/*/*/*
!/public/*/*/*/*/*/*/*
/public/*.zip

!/public/visifile/docs
!/public/visifile/docs/*
/public/visifile/docs/book/*.html

/visifile/public/dist/build.js.map
/visifile/public/index.js
/visifile/public/index copy.html
/visifile/public/canlabs
/visifile/public/docs



!/src/
!/src/*
!/src/*/*
!src/*/*/*
!src/*/*/*/*
!/src/*/*/*/*/*
!/src/*/*/*/*/*/*
!/src/*/*/*/*/*/*/*
!/src/*/*/*/*/*/*/*/*




!/docs/
!/docs/*
!/docs/*/*
!/docs/*/*/*
!/docs/*/*/*/*
!/docs/*/*/*/*/*
!/docs/*/*/*/*/*/*

/docs/*.html
/docs/*/*.html
/docs/*/*/*.html
/docs/*/*/*/*.html
/docs/*/*/*/*/*.html
/docs/*/*/*/*/*/*.html



/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
