*
!/.gitattributes
!/.gitignore




!/LICENSE
!/visifile/LICENSE
!/.README.md
!/visifile/.README.md

!/visifile/.babelrc
!/package.json
!/visifile/package.json

!/visifile/*.ps1
!/visifile/start32.bat
!/visifile/webpack.config.js
!/src/loading.html

!/visifile/snap/
!/visifile/snap/*
!/visifile/snap/snapcraft.yaml


!/visifile/.vscode/
!/visifile/.vscode/*
!/visifile/.vscode/*/*
!/visifile/.vscode/*/*/*
!/visifile/.vscode/*/*/*/*

!/.vscode/
!/.vscode/*
!/.vscode/*/*
!/.vscode/*/*/*
!/.vscode/*/*/*/*

!/src/
!/src/electron.js

/visifile/instantclient32/
/visifile/instantclient32/*
/visifile/instantclient32/*/*
/visifile/instantclient32/*/*/*
/visifile/instantclient32/*/*/*/*
/visifile/instantclient32/*/*/*/*/*
/visifile/instantclient32/*/*/*/*/*/*
/visifile/instantclient32/*/*/*/*/*/*/*



/visifile/node_modules/
/visifile/node_modules/*
/visifile/node_modules/*/*
/visifile/node_modules/*/*/*
/visifile/node_modules/*/*/*/*
/visifile/node_modules/*/*/*/*/*
/visifile/node_modules/*/*/*/*/*/*
/visifile/node_modules/*/*/*/*/*/*/*



!/visifile/node-viewerjs/
!/visifile/node-viewerjs/*
!/visifile/node-viewerjs/*/*
!/visifile/node-viewerjs/*/*/*
!/visifile/node-viewerjs/*/*/*/*
!/visifile/node-viewerjs/*/*/*/*/*



!/visifile/node_pi/
!/visifile/node_pi/*



!/visifile/node_macos64/
!/visifile/node_macos64/*

!/visifile/node_win32/
!/visifile/node_win32/*

!/visifile/node_win64/
!/visifile/node_win64/*

!/visifile/node_modules_win32/
!/visifile/node_modules_win32/*
!/visifile/node_modules_win32/*/*
!/visifile/node_modules_win32/*/*/*
!/visifile/node_modules_win32/*/*/*/*
!/visifile/node_modules_win32/*/*/*/*/*
!/visifile/node_modules_win32/*/*/*/*/*/*
!/visifile/node_modules_win32/*/*/*/*/*/*/*



/visifile/public/gosharedata
/visifile/public/visifile

!/visifile/public/
!/visifile/public/*
!/visifile/public/*/*
!/visifile/public/*/*/*
!/visifile/public/*/*/*/*
!/visifile/public/*/*/*/*/*
!/visifile/public/*/*/*/*/*/*
!/visifile/public/*/*/*/*/*/*/*
!/visifile/public/gosharedata/list_intranet_servers.html
!/visifile/public/visifile/list_intranet_servers.html


/visifile/public/dist/build.js.map
/visifile/public/index.js
/visifile/public/index copy.html
/visifile/public/canlabs
/visifile/public/docs



!/visifile/
!/visifile/src/
!/visifile/src/*
!/visifile/src/*/*
!/visifile/src/*/*/*
!/visifile/src/*/*/*/*
!/visifile/src/*/*/*/*/*
!/visifile/src/*/*/*/*/*/*
!/visifile/src/*/*/*/*/*/*/*
!/visifile/src/*/*/*/*/*/*/*/*







/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
