<html>
    <!-- HMTL Headers and iclude all external JS scripts and stuff -->
    <head>
        <meta http-equiv="X-UA-Compatible"  content="IE=edge" />
        <meta name="viewport"    Content-Type="text/javascript; charset=utf-8" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="UTF-8" />


        <!-- JS libraries and where they come from originally -->
        <linkfrom       rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.1.3/css/bootstrap.min.css"></linkfrom>
        <scriptfrom     src="https://unpkg.com/vue@3.4.21/dist/vue.global.js">                                  </scriptfrom>
        <scriptfrom     src="https://cdn.jsdelivr.net/npm/alasql@4">                                            </scriptfrom>
        <scriptfrom     src="https://cdn.jsdelivr.net/npm/acorn@latest/dist/acorn.min.js">                      </scriptfrom>


        <!-- Locally cached copies of the external JS libraries (so that we can do development offline) -->
        <link       rel="stylesheet" href="/js_libs/bootstrap4.1.3.css">                                    </link>
        <script     src="/js_libs/vue.global.js">                                                           </script>
        <script     src="/js_libs/alasql4.js">                                                              </script>
        <script     src="/js_libs/acorn.min.js">                                                            </script>


        <!-- JS lib that only works Inline in the HTML -->

        <style>
        .ace_gutter-cell.ace_breakpoint{
        border-radius: 20px 0px 0px 20px;
        /* Change the color of the breakpoint if you want */
        box-shadow: 0px 0px 1px 1px #248c46 inset;
        }
        </style>

        <style>
            .highlight {
                background-color: yellow;
            }
            .hint {
                display: none;
                position: absolute;
                background-color: #333;
                color: white;
                padding: 5px;
                border-radius: 3px;
                z-index: 1000;
            }
            .highlight-character {
                background-color: gray;
                position: absolute;
                z-index: -2000;
            }
        </style>
        <style>
            /* Custom CSS to change the active line highlight color */
            .ace_editor .ace_marker-layer .ace_active-line {
                background: lightblue /* Yellow highlight with 30% opacity */
            }
        </style>
    </head>

    <!-- Start of the HTML to host the main Vue app -->
    <body>
        <div style="margin-top:20px">
            <div id="vue_root_element"></div>
        </div>
    </body>

    <!-- Start of all code in the script tag-->
    <script>
        function        setupVueComponents                  (  )                                                {
            vueApp.component("UserList",
                {
                    name: "UserList",
                    props: ["teleport_id", "portal_message"],
                    template:   `
                                        <div    style="margin:0px;padding:0px;border: 1px solid ;"
                                                v-on:mousemove2='console.log("over COMPONENT **")'
                                                v-on:click='textCommand()'
                                        >
                                            <br>
                                                I am a component 5...

                                            <teleport v-if="teleport_id"
                                                            v-bind:to='teleport_id' >
                                              <div class="notification">
                                                {{portal_message}}
                                              </div>
                                            </teleport>
                                        </div>`,
                    methods: {
                        textCommand: async function() {
                            textCommand()
                        }
                    }
                })
        }
        async function  processCommand                      (  r  )                                             {
            console.log("COMMAND: " + r.command)
            if (r.command == "CREATE") {
                r.status = "DONE"

            }
            else if (r.command == "MOVE") {
                r.status = "DONE"

            }
            else if (r.command == "TEXT") {
                //r.status = "DONE"
            }
            else if (r.command == "CREATE_NEW_COMPONENT") {
                debugger
                VueAppData.list_of_components.push({x: r.arguments.x, y: r.arguments.y})
                //VueAppData.refresh ++
                r.status = "DONE"
            }
        }
        async function  commandDone                         (  command  )                                       {
            alasql("update commands set status = 'DONE' where id = ?", [command.id])
        }
        async function  textCommand                         (  )                                                {
            alasql("INSERT INTO commands (command,arguments) VALUES (?,?)", ["TEXT", {}]);
        }
        async function  createCommand                         (  command, params )                                                {
            alasql("INSERT INTO commands (command,arguments) VALUES (?,?)", [command, params]);
        }
        async function  createCommandTable                  (  )                                                {
            //create a command interface
            alasql("CREATE TABLE commands (id INT PRIMARY KEY AUTOINCREMENT , command STRING, arguments STRING, status STRING)");

            // add a trigger to process new commands
            alasql.fn.processNewCommand = async function(r) {
                processCommand(r)
                return true;
            };
            alasql('CREATE TRIGGER processNewCommand BEFORE INSERT ON commands processNewCommand');

            // add new commands
            alasql("INSERT INTO commands (command,arguments) VALUES (?,?)",["CREATE" , {x:10,y:10}]);
            alasql("INSERT INTO commands (command,arguments) VALUES (?,?)",["MOVE" , {}]);
        }
        async function  alaSqlStuff                         (  )                                                {
            await createCommandTable()
        }
        function        createVueUI                         (  )                                                {
            vueApp = Vue.createApp({
                template:                       `
<div style="margin: 20px; font-size: 11px;">
    <div style="width:100%;height:50%">


        <div        style="position:absolute;width:49%;display: inline-block; border: 1px solid black; vertical-align: top;height: 50%;padding:30px;padding:0px;"
                    id="background_grid"
                >
                <template   style="position:relative;top:0px;left:0px;"
                            v-for='(comp,index) in list_of_components'>
                    <div v-bind:style='"position:absolute;left:"+ comp.x +"px;top:"+ comp.y +"px;"' >
                        <component  v-bind:refresh='refresh'
                                    :is='"UserList"'
                                    v-bind:teleport_id='portal_target'
                                    v-bind:portal_message='portal_message'
                        ></component>
                    </div>
                </template>
        </div>

        <canvas     style="position:absolute;width:49%;display: inline-block; border: 1px solid black; vertical-align: top;height: 50%;padding:30px;padding:0px;"
                    id="canvas_effects"
                >
        </canvas>


        <div        style="position:absolute;width:49%;display: inline-block; border: 1px solid black; vertical-align: top;height: 50%;padding:30px;padding:0px;"
                    id="capture_user_input"
                    v-on:mouseover='mouseOver($event);'
                >
        </div>
    </div>


    <div style="margin-top: 20px;">
    <input v-model="new_x"></input>
    <input v-model="new_y"></input>
        <button   v-on:click="createNewComponent()"
                  type="button"
                  style="margin-right: 10px;"
                  class="btn btn-sm btn-info">
            Create
        </button>
        <button   v-on:click="showUnrunCommands()"
                  type="button"
                  style="margin-right: 10px;"
                  class="btn btn-sm btn-info">
            Pending
        </button>

         <div id="portal-target"></div>
    </div>
</div>                         `,
                data:                           function        (  )                        {
                    return {
                        refresh:                    0,
                        rightPane:                  "canvas",
                        portal_target:              null,
                        portal_message:             "",
                        new_x:                      1000,
                        new_y:                      10,
                        list_of_components:         [
                                                        {x: 0,y: 0},
                                                        {x: 10,y: 50},
                                                        {x: 300,y: 60},
                                                        {x: 1000,y: 90}
                                                    ]
                    }
                },
                mounted:                        async function  (  )                        {
                    let mm = this
                    var c = document.getElementById("canvas_effects");
                    var ctx = c.getContext("2d");
                    ctx.moveTo(0, 0);
                    ctx.strokeStyle = '#ff0000';
                    ctx.lineTo(200, 100);
                    ctx.stroke();
                },
                methods:                        {
                    mouseOver:   async function  (  e  ) {
                        let mm = this
                        const target = e.target;

                        // Get the bounding rectangle of target
                        const rect = target.getBoundingClientRect();

                        // Mouse position
                        const x = e.clientX - rect.left;
                        const y = e.clientY - rect.top;
                        //console.log("(" + x + "," + y + ")")
                    },
                    createNewComponent: async function() {
                        let mm = this
                        mm.portal_target ="#portal-target"
                        mm.portal_message ="#portal-target"
                        //zzz
                        createCommand("CREATE_NEW_COMPONENT",{x: mm.new_x, y: mm.new_y})
                    },
                    showUnrunCommands: function() {
                        showUnrunCommands()
                    }
                }
            })
        }
        function        mountDebuggerVueElement             (  )                                                {
            Vue.nextTick(function () {
                setTimeout(async function () {
                    VueAppData = vueApp.mount("#vue_root_element")
                    console.log("main app mounted")

                }, 1000)
            })
        }
        function        runEventLoop                        (  )                                                {
            setInterval(async function () {
                let commands =  alasql("SELECT * FROM commands where status IS NULL")
                //debugger
                if (commands.length > 0) {
                    console.log("commands.length: " + commands.length)
                    for (command of commands) {
                        processCommand(command)
                    }
                }
            }, 1000)
        }
        function        showUnrunCommands                        (  )                                                {
            let commands =  alasql("SELECT * FROM commands where status IS NULL")
            //debugger
            if (commands.length > 0){
                console.log( commands );
            } else {
                console.log( "All commands run" );
            }
        }
        function        sleep                               (  ms  )                                            {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function  runAll                              (  )                                                {
            await alaSqlStuff()
            await createVueUI();
            await setupVueComponents()
            await mountDebuggerVueElement();
            await runEventLoop();
        }

        let globalWatchList     = {}
        let refData             = Vue.ref({a: 1})
        let vueApp              = null
        let VueAppData          = null

        runAll();

    </script>
</html>
