<html>
<head>
    <meta http-equiv="X-UA-Compatible"  content="IE=edge"                                                                                                                                                           />
    <meta name="viewport"               Content-Type="text/javascript; charset=utf-8" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8"                                                                                                                                                                                           />

    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    <scriptvc src="https://unpkg.com/@vue/compat@3.1"></scriptvc>
    <script     src="https://cdn.jsdelivr.net/npm/alasql@4">                                                                                                                                                        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/immer/9.0.21/immer.umd.production.min.js"></script>

    <body>
        <div>
            <div id="injected_id"></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            Standard HTML and JS below
            <br>
            <b>HI THERE!</b>
            <div id="tele" style="border: 1px solid black">TELE:</div>
            <div id="tele2" style="border: 1px solid black">TELE2:</div>
        </div>

        <div style="margin-top:200px">
            Inside VueJS 2 below
            <div id="rootel"></div>
        </div>
    </body>



    <script>
        function        getDebugCode                        (  blockName  ,  trcode2  ,  args  ) {
            return trcode2

            let _b = esprima.parse(trcode2,{tolerant: true , loc:true, range: true, attachComment: false})
            let line = -1
            let varsToAdd = {}
            let skipFirstAndLastLine = false
            let numLinesToSkip = 0
            if (isValidObject(args)) {
                if (args.skipFirstAndLastLine){
                    skipFirstAndLastLine=true
                    numLinesToSkip = 1
                }
            }

            if (uiDebuggerOn) {
                estraverse.traverse(_b, {
                    enter: function (node, parent) {
                        //
                        // add the line numbers
                        //
                        if (
                            (node.type == "ExpressionStatement")
                            ||
                            (node.type == "VariableDeclaration")
                            ||
                            (node.type == "AssignmentExpression")
                        ) {
                            if (parent) {
                                if ((node.loc.start.line - numLinesToSkip) > line) {
                                    line = (node.loc.start.line - numLinesToSkip)

                                    if (line > 0) {
                                        let newLine = "logExecutionPoint('" + blockName + "', " + line +",'" + JSON.stringify(node.type) + "');"
                                        let newNode = esprima.parse(newLine)

                                        for (let rr = 0; rr < parent.body.length; rr++){
                                            if (parent.body[rr] == node) {
                                                parent.body.splice(rr, 0, newNode);
                                                break
                                            }
                                        }





                                        //
                                        // vars
                                        //
                                        if (node.type == "VariableDeclaration") {
                                            if (node.declarations[0].init) {
                                                //alert(`let ${node.declarations[0].id.name} = ${node.declarations[0].init.value}`)
                                                let varNameToUse = node.declarations[0].id.name
                                                if (node.kind == "var") {
                                                    if (isValidObject(varNameToUse) && varNameToUse.indexOf("undefined")==-1){
                                                        let newLine = "logVarBefore('" + blockName + "', " + node.loc.start.line + ",'" +
                                                            varNameToUse + "', " + varNameToUse + ");"
                                                        let newNode = esprima.parse(newLine)
                                                    }
                                                }
                                                varsToAdd[varNameToUse] = {}

                                                let newLineAfter = "logVarAfter('" + blockName + "', " + node.loc.start.line + ",'" +
                                                    varNameToUse + "'," + varNameToUse + ");"
                                                let newNodeAfter = esprima.parse(newLineAfter)

                                                let logWatchVarsCode = `for (let _uu=0; _uu<Object.keys(globalWatchList).length; _uu++){try { let _vName = Object.keys(globalWatchList)[_uu];if (isValidObject(_vName)){ addWatchPoint(_vName, eval(_vName) ) }} catch(_err){}}`
                                                let logWatchVarsNode = esprima.parse(logWatchVarsCode)

                                                for (let rr = 0; rr < parent.body.length; rr++) {
                                                    if (parent.body[rr] == node) {
                                                        parent.body.splice(rr + 1, 0, logWatchVarsNode);
                                                        parent.body.splice(rr + 1, 0, newNodeAfter);
                                                        parent.body.splice(rr, 0, newNode);
                                                        break;
                                                    }
                                                }
                                            }
                                        }



                                        if ((node.type == "ExpressionStatement") && node.expression) {
                                            if (node.expression.type == "CallExpression") {
                                                let logWatchVarsCode = `for (let _uu=0; _uu<Object.keys(globalWatchList).length; _uu++){try { let _vName = Object.keys(globalWatchList)[_uu];if (isValidObject(_vName)){ addWatchPoint(_vName, eval(_vName) ) }} catch(_err){}}`
                                                let logWatchVarsNode = esprima.parse(logWatchVarsCode)

                                                for (let rr=0; rr<parent.body.length; rr++){
                                                    if (parent.body[rr] == node) {
                                                        if (logWatchVarsNode){
                                                            parent.body.splice(rr + 1, 0, logWatchVarsNode);
                                                        }
                                                        break;   }}}}




                                        if ((node.type == "ExpressionStatement") && node.expression) {
                                            if ((node.expression.type == "AssignmentExpression") &&
                                                (node.expression.operator == "=")) {
                                                let varName = node.expression.left.name
                                                if (isValidObject(varName) && varName.indexOf("undefined") == -1) {
                                                    if (!isValidObject(varName)) {
                                                        if (node.expression.left.object.type == "ThisExpression") {
                                                            varName = "this." + node.expression.left.property.name
                                                        } else if (node.expression.left.type == "MemberExpression") {
                                                            varName = node.expression.left.object.name
                                                            if (node.expression.left.property.type == "Identifier") {
                                                                varName += "." + node.expression.left.property.name
                                                            }
                                                        }
                                                    }
                                                    varsToAdd[varName] = {}


                                                    let newLine = "logVarBefore('" + blockName + "', " + node.loc.start.line + ",'" +
                                                        varName + "', " + varName + ");"
                                                    let newNode = esprima.parse(newLine)

                                                    let newLineAfter = "logVarAfter('" + blockName + "', " + node.loc.start.line + ",'" +
                                                        varName + "', " + varName + ");"
                                                    let newNodeAfter = esprima.parse(newLineAfter)

                                                    let logWatchVarsCode = `for (let _uu=0; _uu<Object.keys(globalWatchList).length; _uu++){try { let _vName = Object.keys(globalWatchList)[_uu];if (isValidObject(_vName)){ addWatchPoint(_vName, eval(_vName) ) }} catch(_err){}}`
                                                    let logWatchVarsNode = esprima.parse(logWatchVarsCode)

                                                    for (let rr = 0; rr < parent.body.length; rr++) {
                                                        if (parent.body[rr] == node) {
                                                            if (logWatchVarsNode) {
                                                                parent.body.splice(rr + 1, 0, logWatchVarsNode);
                                                            }
                                                            if (newNodeAfter) {
                                                                parent.body.splice(rr + 1, 0, newNodeAfter);
                                                            }
                                                            parent.body.splice(rr, 0, newNode);
                                                            break;
                                                        }
                                                    }
                                                }
                                            }
                                        }


                                    }
                                }
                            }
                        }






                    },
                    leave: function (node, parent) {
                    },

                    keys: {
                        'AwaitExpression': ['argument']
                    }
                });

                for ( let fds = 0 ; fds < Object.keys(varsToAdd).length ; fds ++ ) {
                    let nnn = Object.keys(varsToAdd)[fds]
                    globalWatchList[nnn]={
                        viewer: ""
                    }
                }
            }


            //
            // add "await" to all function calls
            //
            estraverse.replace(_b, {
                leave: function (node, parent) {
                    if (node.type === 'CallExpression') {
                        //debugger
                        //if (node && node.expression && node.expression.async) {
                        return {
                            type:       'AwaitExpression',
                            argument:   node
                        };
                        //};
                    }
                },

                keys: {
                    'AwaitExpression': ['argument']
                }
            });

            let debugCode = escodegen.generate(_b, {comment: false})





            if (uiDebuggerOn) {
                executionCode[blockName] = {}
                executionCode[blockName].debug_code = debugCode
                if (numLinesToSkip > 0) {
                    let indexOfFirst = trcode2.indexOf("\n")
                    if (indexOfFirst != -1) {
                        trcode2 = trcode2.substring(indexOfFirst + numLinesToSkip)
                    }

                    let indexOfLast = trcode2.lastIndexOf("\n")
                    if (indexOfLast != -1) {
                        trcode2 = trcode2.substring(0, indexOfLast)
                    }
                }

                trcode2 = trcode2.toString().replaceAll("await sqlRx[(][^,]*,[^,]*,", "sql(")
                trcode2 = trcode2.toString().replaceAll("await sqlRx1[(][^,]*,[^,]*,", "sql1(")
                trcode2 = trcode2.toString().replaceAll("await sqlRxFirstCol[(][^,]*,[^,]*,", "sqlFirstCol(")
                trcode2 = trcode2.toString().replaceAll("await sqlRxFirstCol1[(][^,]*,[^,]*,", "sqlFirstCol1(")

                executionCode[blockName].code = trcode2
                executionCode[blockName].start = startTimelineTop
                startTimelineTop += trcode2.length
            }

            return debugCode
        }

        alasql("CREATE TABLE test (language INT, hello STRING)");
        alasql.fn.verify = function(r) {
            return true; // Do not insert on this number
        };
        alasql('CREATE TRIGGER mytrigger BEFORE INSERT ON test verify');
        alasql("INSERT INTO test VALUES (1,'Hello!')");
        alasql("INSERT INTO test VALUES (2,'Aloha!')");
        alasql("INSERT INTO test VALUES (3,'Bonjour!')");
        console.log( alasql("SELECT * FROM test WHERE language > 1") );

        alasql("create view testview (name) as select * from test ;")
        alasql.fn.verify2 = function(r) {
            debugger
            return true; // Do not insert on this number
        };
        alasql('CREATE TRIGGER mytrigger AFTER update ON testview verify2');
        debugger
        alasql("INSERT INTO test VALUES (4,'Velkommen!')");
        console.log( alasql("SELECT * FROM testview ") );

        const baseState = [
            {
                title: "Learn TypeScript",
                done: true
            },
            {
                title: "Try Immer",
                done: false
            }
        ]


        let dataImmerData = baseState

        let vueApp = Vue.createApp(
                {
                    el: "#rootel",
                    template:   `
                        <div style="">
                            <br>
                            <br>
                        {{dataImmer}}
                            <br>
                            <br>
                                WE ARE IN THE MATRIX...
                                <br>
                                showItem := {{showItem}}
                                <div v-if='showItem'>
                                    <b><component v-bind:refresh='refresh' :is='"UserList"' ></component></b>
                                </div>
                                <div v-if='showItem2'>
                                    <b><component v-bind:refresh='refresh' :is='"UserList2"' v-bind:teleport_id='teleportId' ></component></b>
                                </div>
                                <br>
                                <button style="height: 050px;width:050px;" v-on:click="createItem()" >Create item</button>
                                <button style="height: 050px;width:050px;" v-on:click="showItemf()" >Show</button>

                                <button style="height: 050px;width:100px;" v-on:click="refreshAll()" >Refresh</button>

                                <button style="height: 050px;width:050px;" v-on:click="createItem2()" >Create item 2</button>
                                <button style="height: 050px;width:050px;" v-on:click="showItemf2()" >Show</button>

                                <button style="height: 050px;width:100px;" v-on:click="switchTeleport()" >switch Teleport</button>

                                <button style="height: 050px;width:100px;" v-on:click="runDebugger()" >Run debugger</button>

                                <button style="height: 050px;width:100px;" v-on:click="mutate()" >Mutate</button>
                        </div>`,
                    data: function() {
                        return {
                            refresh: 0,
                            showItem: false,
                            showItem2: false,
                            teleportId: "tele",
                            dataImmer:  dataImmerData
                        }
                    },
                    mounted:    async function() {
                    },
                    methods: {
                        switchTeleport: function(){
                            this.teleportId = "tele2"
                        },
                        createItem: async function () {

                            vueApp.component("UserList",
                                {
                                    name: "UserList",
                                    template:   `
                                        <div style="margin-top: 70px;">
                                            <br>
                                                I am a component 5...
                                                <Teleport to="#tele">
                                                  <div >
                                                    component COntent teleported
                                                  </div>
                                                </Teleport>

                                        </div>`
                                })
                            this.refresh ++
                            console.log("Loaded user component")
                        },
                        refreshAll: async function () {
                            this.refresh ++
                            console.log("Refreshed app")
                        },
                        showItemf: async function () {
                            this.showItem = !this.showItem
                            console.log("Showed item")
                        },
                        createItem2: async function () {

                            vueApp.component("UserList2",
                                {
                                    name: "UserList2",
                                    props: ["teleport_id"],
                                    template:   `
                                        <div style="margin-top: 70px;">
                                            <br>
                                                I am a component 6... ({{teleport_id}}
                                                <Teleport v-bind:to='"#" + teleport_id'>
                                                  <div >
                                                    component COntent teleported 2
                                                  </div>
                                                </Teleport>

                                        </div>`
                                })
                            this.refresh ++
                            console.log("Loaded user component")
                        },
                        showItemf2: async function () {
                            debugger
                            this.showItem2 = !this.showItem2
                            console.log("Showed item 2")
                        }
                        ,
                        evalInContext: function (js, contextAsScope) {
                            //# Return the results of the in-line anonymous function we .call with the passed context
                            return function() { with(this) { return eval(js); }; }.call(contextAsScope);
                        },
                        runDebugger:  async function () {

                            function* foo () {
                                while (true) {
                                    let command = yield;
                                    console.log("Running command: " + command)
                                    if (command=="STOP") {
                                        return
                                    }
                                    eval(command)
                                }
                                console.log("foo done")
                            };
                            let gen=foo()
                            gen.next()
                            gen.next("let a = 12;console.log(a);")
                            //gen.next("console.log(a)")
                            gen.next("STOP")

                            console.log(" ------------------------------------------------- ")

                            let context = {}
                            this.evalInContext( "this.a = 10"         , context )
                            this.evalInContext( "console.log(this.a)" , context )
                        }
                        ,
                        mutate:  async function ()
                        {
                            let mm=this
                            debugger
                            const nextState = immer.produce(mm.dataImmer, draft => {
                                draft[1].done = true
                                draft.push({title: "Tweet about it"})
                            })
                            mm.dataImmer = nextState
                        }
                    }
                })

        Vue.nextTick(function(){
            setTimeout(async function() {
                //let vm = Vue.getCurrentInstance()
                //debugger
                //vueApp.refresh = 8
                vueApp.mount("#rootel")
                console.log("main app mounted")

            },1000)
        })


        let injectedCode = `
Vue.createApp(
            {
                el: "#injected_id",
                template: "injected code"
            })

        `

        let debugInjectedCode = getDebugCode("Vue code", injectedCode)
        let injectedVueApp = eval(debugInjectedCode)
        injectedVueApp.mount("#injected_id")



    </script>

</html>
