w<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ElectronTeamID</key>
    <string>VisiFileTeam</string>
    <key>BuildMachineOSBuild</key>
    <string>16G1212</string>
    <key>CFBundleDisplayName</key>
    <string>Visifile</string>
    <key>CFBundleExecutable</key>
    <string>Visifile</string>
    <key>CFBundleIconFile</key>
    <string>electron.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.electron.visifile</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Visifile</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0.10</string>
    <key>CFBundleVersion</key>
    <string>3.0.10</string>
    <key>DTSDKBuild</key>
    <string>14D125</string>
    <key>DTSDKName</key>
    <string>macosx10.1010.10</string>
    <key>DTXcode</key>
    <string>0821</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Visual Studio Code document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>TEXT</string>
          <string>utxt</string>
          <string>TUTX</string>
          <string>****</string>
        </array>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ascx</string>
          <string>asp</string>
          <string>aspx</string>
          <string>bash</string>
          <string>bash_login</string>
          <string>bash_logout</string>
          <string>bash_profile</string>
          <string>bashrc</string>
          <string>bat</string>
          <string>bowerrc</string>
          <string>c</string>
          <string>cc</string>
          <string>clj</string>
          <string>cljs</string>
          <string>cljx</string>
          <string>clojure</string>
          <string>cmd</string>
          <string>code-workspace</string>
          <string>coffee</string>
          <string>config</string>
          <string>cpp</string>
          <string>cs</string>
          <string>cshtml</string>
          <string>csproj</string>
          <string>css</string>
          <string>csx</string>
          <string>ctp</string>
          <string>cxx</string>
          <string>dockerfile</string>
          <string>dot</string>
          <string>dtd</string>
          <string>editorconfig</string>
          <string>edn</string>
          <string>eyaml</string>
          <string>eyml</string>
          <string>fs</string>
          <string>fsi</string>
          <string>fsscript</string>
          <string>fsx</string>
          <string>gemspec</string>
          <string>gitattributes</string>
          <string>gitconfig</string>
          <string>gitignore</string>
          <string>go</string>
          <string>h</string>
          <string>handlebars</string>
          <string>hbs</string>
          <string>hh</string>
          <string>hpp</string>
          <string>htm</string>
          <string>html</string>
          <string>hxx</string>
          <string>ini</string>
          <string>jade</string>
          <string>jav</string>
          <string>java</string>
          <string>js</string>
          <string>jscsrc</string>
          <string>jshintrc</string>
          <string>jshtm</string>
          <string>json</string>
          <string>jsp</string>
          <string>less</string>
          <string>lua</string>
          <string>m</string>
          <string>makefile</string>
          <string>markdown</string>
          <string>md</string>
          <string>mdoc</string>
          <string>mdown</string>
          <string>mdtext</string>
          <string>mdtxt</string>
          <string>mdwn</string>
          <string>mkd</string>
          <string>mkdn</string>
          <string>ml</string>
          <string>mli</string>
          <string>pdf</string>
          <string>php</string>
          <string>phtml</string>
          <string>pl</string>
          <string>pl6</string>
          <string>pm</string>
          <string>pm6</string>
          <string>pod</string>
          <string>pp</string>
          <string>profile</string>
          <string>properties</string>
          <string>ps1</string>
          <string>psd1</string>
          <string>psgi</string>
          <string>psm1</string>
          <string>py</string>
          <string>r</string>
          <string>rb</string>
          <string>rhistory</string>
          <string>rprofile</string>
          <string>rs</string>
          <string>rt</string>
          <string>scss</string>
          <string>sh</string>
          <string>shtml</string>
          <string>sql</string>
          <string>svg</string>
          <string>svgz</string>
          <string>t</string>
          <string>ts</string>
          <string>txt</string>
          <string>vb</string>
          <string>wxi</string>
          <string>wxl</string>
          <string>wxs</string>
          <string>xaml</string>
          <string>xcodeproj</string>
          <string>xcworkspace</string>
          <string>xml</string>
          <string>yaml</string>
          <string>yml</string>
          <string>zlogin</string>
          <string>zlogout</string>
          <string>zprofile</string>
          <string>zsh</string>
          <string>zshenv</string>
          <string>zshrc</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>code_file.icns</string>
      </dict>
    </array>
  </dict>
</plist>
